
@functions {
	// To support the layout classification below. Implementing as a razor function because we can, could otherwise be a Func<string[], string, string> in the code block following.
	string CalcuClassify(string[] zoneNames, string classNamePrefix)
	{
		var zoneCounter = 0;
		var zoneNumsFilled = string.Join("", zoneNames.Select(zoneName => { ++zoneCounter; return Model[zoneName] != null ? zoneCounter.ToString() : ""; }).ToArray());
		return HasText(zoneNumsFilled) ? classNamePrefix + zoneNumsFilled : "";
	}
}
@{
	/* Global includes for the theme
	***************************************************************/
	Style.Include("css/font-awesome.min.css");
	Style.Include("site.css");

	//Style.Include("css/bootstrap.min.css");
	Style.Include("css/plugin.css");
	Style.Include("css/style.css");
	//Style.Include("css/flight.css");
	Style.Include("css/update.css");
	Style.Include("fonts/flaticon.css");
	//Style.Include("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
	/* Some useful shortcuts or settings
	/* Some useful shortcuts or settings
	***************************************************************/

	Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones


	/* Last bit of code to prep the layout wrapper
	***************************************************************/

	Model.Id = "layout-wrapper";
	var tag = Tag(Model, "div"); // using Tag so the layout div gets the classes, id and other attributes added to the Model
}	<!-- BindTuning head elements-->

<script type="text/javascript">
		if (typeof jQuery == 'undefined') {document.write('<script type="text/javascript" src="@Href("~/Themes/SafarnamaTheme/Scripts/jquery.min.js")"><' + '/script>');}
		var style_mobile_path = '@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/styles/css/"))'; // path for mobile nav css files, ORX-specific
</script>
<script type="text/javascript">
	$('head').append('<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">');
</script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="@Href("~/Themes/SafarnamaTheme/Scripts/html5shiv.js")"></script>
  <script src="@Href("~/Themes/SafarnamaTheme/Scripts/respond.min.js")"></script>
<![endif]-->
<script type="text/javascript" src="@Href("~/Themes/SafarnamaTheme/Scripts/bootstrap.min.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/SafarnamaTheme/Scripts/BindMENU.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/SafarnamaTheme/Scripts/fix-responsive-WP8.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/SafarnamaTheme/Scripts/jquery.nivo.slider.pack.js")"></script>

<script type="text/javascript" src="@Href("~/Themes/SafarnamaTheme/Scripts/main-1.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/SafarnamaTheme/Scripts/main.js")"></script>
@*<script type="text/javascript" src="@Href("~/Themes/SafarnamaTheme/Scripts/jquery-3.2.1.min.js")"></script>*@
<script type="text/javascript" src="@Href("~/Themes/SafarnamaTheme/Scripts/plugin.js")"></script>
<script type="text/javascript" src="@Href("~/Themes/SafarnamaTheme/Scripts/preloader.js")"></script>
<!--Apply class to body with browser version-->
<script type="text/javascript">
	var nVer = navigator.appVersion; var nAgt = navigator.userAgent; var bN = navigator.appName; var fullV = "" + parseFloat(navigator.appVersion); var majorV = parseInt(navigator.appVersion, 10); var nameOffset, verOffset, ix; if ((verOffset = nAgt.indexOf("Opera")) !== -1) { bN = "Opera"; fullV = nAgt.substring(verOffset + 6); if ((verOffset = nAgt.indexOf("Version")) !== -1) { fullV = nAgt.substring(verOffset + 8) } } else { if ((verOffset = nAgt.indexOf("MSIE")) !== -1) { bN = "IE"; fullV = nAgt.substring(verOffset + 5) } else { if ((verOffset = nAgt.indexOf("Chrome")) !== -1) { bN = "Chrome"; fullV = nAgt.substring(verOffset + 7) } else { if ((verOffset = nAgt.indexOf("Safari")) !== -1) { bN = "Safari"; fullV = nAgt.substring(verOffset + 7); if ((verOffset = nAgt.indexOf("Version")) !== -1) { fullV = nAgt.substring(verOffset + 8) } } else { if ((verOffset = nAgt.indexOf("Firefox")) !== -1) { bN = "Firefox"; fullV = nAgt.substring(verOffset + 8) } else { if ((nameOffset = nAgt.lastIndexOf(" ") + 1) < (verOffset = nAgt.lastIndexOf("/"))) { bN = nAgt.substring(nameOffset, verOffset); fullV = nAgt.substring(verOffset + 1); if (bN.toLowerCase() == bN.toUpperCase()) { bN = navigator.appName } } } } } } } if ((ix = fullV.indexOf(";")) !== -1) { fullV = fullV.substring(0, ix) } if ((ix = fullV.indexOf(" ")) !== -1) { fullV = fullV.substring(0, ix) } majorV = parseInt("" + fullV, 10); if (isNaN(majorV)) { fullV = "" + parseFloat(navigator.appVersion); majorV = parseInt(navigator.appVersion, 10) }
	document.getElementsByTagName("body")[0].className += " " + bN + " " + bN + majorV + " cmsORX cmsORX1 BT-pk";
</script>

<script type="text/javascript">
	(function ($) {
		$('head').append('<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald:400,300,700">');
		$('head').append('<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900">');
	})(jQuery);
</script>



<!-- Preloader -->
<div id="preloader">
	<div id="status"></div>
	<div id="quotes">“LIVE WITH NO EXCUSES AND TRAVEL WITH NO REGRETS” ~ OSCAR WILDE</div>
</div>
<!-- Preloader Ends -->

<header class="navbar">



	<div class="upper-head clearfix">
		<div class="container">
			<div class="row">
				<div class="contact-info">
					<p><i class="flaticon-phone-call"></i> Phone: +91 78295 54567</p>
					<p><i class="flaticon-mail"></i> Mail: connect@safarnamatravelers.com</p>
				</div>
			</div>
		</div>
	</div>

	@*@Html.Partial("Home")*@

	<div class="header-main">
		<div class="container">
			<div class="row">

				<div class="logo pull-left">
					<a href="~/"><img alt="Image" src="~/Themes/SafarnamaTheme/Content/Images/Safarnama-01.png"></a>
				</div>


				<div class="navbar-collapse collapse collapse-nav">
					<div class="col-md-10">
						<nav>
							<div id="MenuH">
								@if (Model.Navigation != null)
								{@Display(Model.Navigation)}
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Banner -->
<section id="home_banner">
	<!-- Paradise Slider -->
	<div id="kenburns_061" class="carousel slide ps_indicators_txt_icon ps_control_txt_icon kbrns_zoomInOut thumb_scroll_x swipe_x ps_easeOutQuart" data-ride="carousel" data-pause="hover" data-interval="10000" data-duration="2000">
		<!-- Wrapper For Slides -->
		<div class="carousel-inner" role="listbox">

			<!-- First Slide -->
			<div class="item active">
				<!-- Slide Background -->
				<img src="~/Themes/SafarnamaTheme/Content/Images/slider/slider1.jpg" alt="kenburns_061_01" />
				<!-- Left Slide Text Layer -->
				<div class="kenburns_061_slide" data-animation="animated fadeInRight">
					<h2>Book ticket, pack your bags and Let's Leave</h2>
					<h1>JOURNEY FROM STRANGERS TO FRIENDS</h1>
					<!-- <a href="#" class="btn-blue btn-red">View Our Tour</a> -->
				</div><!-- /Left Slide Text Layer -->
			</div><!-- /item -->
			<!-- End of Slide -->
			<!-- Second Slide -->
			<div class="item">
				<!-- Slide Background -->
				<img src="~/Themes/SafarnamaTheme/Content/Images/slider/slider2.jpg" alt="kenburns_061_02" />
				<!-- Right Slide Text Layer -->
				<div class="kenburns_061_slide kenburns_061_slide_right" data-animation="animated fadeInUp">
					<h2>Cost Friendly Packages on your way</h2>
					<h1>EXPERIENCE THE EXPERIENCE </h1>
					<!-- <a href="#" class="btn-blue btn-red">View Our Tour</a> -->
				</div><!-- /Right Slide Text Layer -->
			</div><!-- /item -->
			<!-- Third Slide -->
			<div class="item">
				<!-- Slide Background -->
				<img src="~/Themes/SafarnamaTheme/Content/Images/slider/slider3.jpg" alt="kenburns_061_02" />
				<!-- Right Slide Text Layer -->
				<div class="kenburns_061_slide kenburns_061_slide_center" data-animation="animated fadeInDown">
					<h2>We aspire to become your choice of Travel Partner</h2>
					<h1>STARTS WITH YOU, ENDS WITHIN YOU</h1>
					<!-- <a href="#" class="btn-blue btn-red">View Our Tour</a> -->
				</div><!-- /Right Slide Text Layer -->
			</div><!-- /item -->
			<!-- End of Slide -->

		</div><!-- End of Wrapper For Slides -->
		<!-- Left Control -->
		<a class="left carousel-control" href="#kenburns_061" role="button" data-slide="prev">
			<span>prev</span>
			<span class="sr-only">Previous</span>
		</a>

		<!-- Right Control -->
		<a class="right carousel-control" href="#kenburns_061" role="button" data-slide="next">
			<span>next</span>
			<span class="sr-only">Next</span>
		</a>
	</div> <!-- End Paradise Slider -->
</section>
<!-- Banner Ends -->

<div id="HomeSlider">
	@if (Model.Header != null)
	{<div id="Header">@Display(Model.Header)</div>}
</div>

<div id="MainWrapper">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="Main" role="main">
					<div class="row">
						@if (Model.BeforeMain != null)
						{<div class="col-md-12" runat="server" id="BeforeMain">@Display(Model.BeforeMain)</div>}
					</div>
					<div class="row">
						@if (Model.BeforeContent != null)
						{<div class="col-md-7" runat="server" id="BeforeContent">@Display(Model.BeforeContent)</div>}
						@if (Model.AsideFirst != null)
						{<div class="col-md-5" runat="server" id="AsideFirst">@Display(Model.AsideFirst)</div>}
					</div>
					<div class="row">


					</div>
					<div class="row">


					</div>
					<div class="row">
						@if (Model.Content != null)
						{<div class="col-md-12" runat="server" id="Content">@Display(Model.Content)</div>}
					</div>
					<div class="row">


					</div>
					<div class="row">
						@if (Model.AsideSecond != null)
						{<div class="col-md-4" runat="server" id="AsideSecond">@Display(Model.AsideSecond)</div>}
						@if (Model.AfterContent != null)
						{<div class="col-md-8" runat="server" id="AfterContent">@Display(Model.AfterContent)</div>}
					</div>
					<div class="row">



					</div>
					<div class="row">
						@if (Model.AfterMain != null)
						{<div class="col-md-12" runat="server" id="AfterMain">@Display(Model.AfterMain)</div>}
					</div>
					<div class="row">
						@if (Model.TripelFirst != null)
						{<div class="col-md-4" runat="server" id="TripelFirst">@Display(Model.TripelFirst)</div>}
						@if (Model.TripelSecond != null)
						{<div class="col-md-4" runat="server" id="TripelSecond">@Display(Model.TripelSecond)</div>}
						@if (Model.TripelThird != null)
						{<div class="col-md-4" runat="server" id="TripelThird">@Display(Model.TripelThird)</div>}
					</div>
				</div>
			</div>
			@*<div class="col-md-3">
					   <div id="SideBar">

					   </div>
				</div>*@
		</div>
	</div>



	<footer>
		<div class="container">
			<div id="FooterWidgets">
				<div class="row">
					<div class="col-md-3 col-sm-4">
						@if (Model.FooterQuadFirst != null)
						{<div id="FooterQuadFirst">@Display(Model.FooterQuadFirst)</div>}
					</div>
					<div class="col-md-3 col-sm-4">
						@if (Model.FooterQuadSecond != null)
						{<div id="FooterQuadSecond">@Display(Model.FooterQuadSecond)</div>}
					</div>
					<div class="col-md-3 col-sm-4">
						@if (Model.FooterQuadThird != null)
						{<div id="FooterQuadThird">@Display(Model.FooterQuadThird)</div>}
					</div>
					<div class="col-md-3 col-sm-4">
						@if (Model.FooterQuadFourth != null)
						{<div id="FooterQuadFourth">@Display(Model.FooterQuadFourth)</div>}
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						@if (Model.Footer != null)
						{<div id="Footer">@Display(Model.Footer)</div>}
					</div>
				</div>
			</div><!-- End Footer Widgets-->
		</div>
		@*<div class="container">
				<div id="FooterCopyright">
					<div class="row">
						<div class="col-xs-6">
							<span id="Copyright"><span class="Copyright">&copy; 2014 @WorkContext.CurrentSite.SiteName. All rights reserved.</span></span>
						</div>
					</div>
				</div>
			</div>*@


		<div class="copyright">
			<div class="container">
				<div class="row">

					<div class="col-xs-6">
						<div class="copyright-content">
							<p><i class="fa fa-copyright" aria-hidden="true"></i> 2014 @WorkContext.CurrentSite.SiteName All rights reserved.</p>
						</div>
					</div>

					<div class="col-xs-6">
						<div class="footer-social-links">
							<ul>
								<li class="social-icon"><a class="fb" target="_blank" href="https://www.facebook.com/safarnamatravelers/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li class="social-icon"><a class="insta" target="_blank" href="https://www.instagram.com/safarnamatravelers/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li class="social-icon"><a class="linkedin" target="_blank" href="https://www.linkedin.com/in/safarnama-traveler-a58867194/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								<li class="social-icon"><a class="youtube" target="_blank" href="https://www.youtube.com/channel/UCXk78rimMgkildeWJE37Yrw"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
								<li class="social-icon"><a class="gplus" target="_blank" href="https://g.co/kgs/KUQvMA"><i class="fa fa-google" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>

	</footer>
</div>

<script type="text/javascript">
	(function ($) {
		$(window).load(function () {
			$('body').css('padding-top', $('header').outerHeight(true));
			$('#MainWrapper > .container').css('padding-bottom', $('footer').outerHeight(true) + 40 + 'px');
		});
	})(jQuery);
</script>

<script type="text/javascript">
	(function ($) {
		$(document).ready(function () {
			//Nivo Slider
			$('#slider').nivoSlider({
				effect: 'random'
			});

			//Tooltips
			$('*[data-toggle=tooltip]').tooltip();

			//Popovers
			$('*[data-toggle=popover]').popover({
				trigger: 'hover'
			});

			//MoveSlider
			if (typeof g_disableCheckoutInEditMode != 'undefined' && !g_disableCheckoutInEditMode) {
				$('.MoveToSliderZone').appendTo('#HomeSlider');
			}
		});
	})(jQuery);
</script>

<!--[if lte IE 8]>
	<script type="text/javascript" src="@Href("~/Themes/SafarnamaTheme/Scripts/fix-search-ie8.js")"></script>
<![endif]-->

<script type="text/javascript">
	(function ($) {
		$("#MenuH .menu").BindMENU({ MenuStyle: "DefaultMenu", Orientation: "Horizontal" });
		$("#MenuV .menu").BindMENU({ MenuStyle: "DefaultMenu", Orientation: "Vertical" });
	})(jQuery);
</script>
<!-- powered by BIND TUNING 2014 // http://www.bindtuning.com -->
